body{
    margin:0;
    background: linear-gradient(to right bottom,
     lightblue,lightpink,lightblue) ;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    background-color: rgba(255,255,255,.3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    border-radius: 15px;
    width: 80%;
    text-align: center;
    color: rgb(92, 2, 72);
    

}
.heading{
    font-size:30px;
    font-weight: 200;
    text-shadow: 5px 5px 2px rgba(0,0,0,.3);
}
.joke{
    font-size: 40px;
    font-weight: 500;
    margin: 40px;
}
.btn{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color:rgba(255,255,255,.3);
    border-color:rgba(255, 255, 255,.9);
    
    text-transform: uppercase;
    width: 200px;
    color: rgba(2, 2, 100, 0.801);

}
.btn:hover{
    background-color:rgba(255,255,255,.5); 
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    transition: all 300ms ease;
}























